
/* Estilos para <p> */
p{
font-size:20px;
text-indent:30px;
text-align:justify;

}
/* Estilos para <p> e <h2> */
p,h2{

margin:30px;
}

/* Estilos para o <body> */
body{
display:flex;
flex-direction:column;
min-height:100vh;
margin:0px;

}

.conteiner{
display:flex;
flex:1;

}

footer{
background-color:navy;
color:white;
height:50px;
line-height:50px;
}

/*sidebar*/
.sidebar{
width:250px;

background-color:gray;

}

/* Estilos para <h1> */
h1{
background-color:navy;
color:white;
margin:0;
padding:15px;
text-align:center;
text-transform:uppercase;
font-weight: bolder;

}

/* Estilos para elementos com a classe .imagem1 */
.imagem1{
background-color:navy;

}
#foto{
width:30px;
height:auto;

display:block;
margin:auto;
padding:auto;
padding-bottom:10px;
}

.menu-list{
display:flex;
margin:0;
padding:0;
background-color:#333;
align-items:center;
}

.menu-list li{
list-style:none;
}

section{
width:auto;
height:auto;
display:block;
margin:auto;
padding:auto;

}

.menu-list a{
display:block;
color:white;
text-decoration:none;
text-align:center;
padding:15px;
}

.menu-list a:hover{
background-color:#575757;
}

.menu-toggle{
background-color:#333;
border:none;
color:white;
cursor:pointer;
padding: 15px;
}

span{
color:white;
}

.menu-list{
display:none;
}

.menu-toggle:active{
transform:scale(0.94);
}

@media screen and (min-width:768px){
.menu-toggle{
display:none;
}

#foto2{
width:800px;
height:auto;
display:block;
margin-left: auto;
margin-right: auto;
}


.menu-list{
display:flex;
}

}

@media screen and (max-width:1080px){
.menu-list.active{
display:block;

}
section,#foto2{
width:100%;
display:block;
margin-left: auto;
margin-right: auto;
}


}
@media screen and (min-width:200px) and (max-width:600px){



}


@media print{


@page{
margin:30px;

}

#foto2{
width:600px;
height:auto;
display:block;
margin-left: auto;
margin-right: auto;
}

section{
width:auto;
padding:0;
margin:0;
display:block;
width:auto;
height:auto;

}
.sidebar,.menu-toggle,.menu-list,footer{
display:none;
margin:0;
padding:0;
}

}

@media (orientation:landscape){
.conteiner{
width:100%;
}

#foto2{
width:60%;
}
}


@media (orientation:portrait){

.sidebar{
display:none;
}
section{
width:100%;
display:block;
margin-left: auto;
margin-right: auto;
}

#foto2{
width:80%;
}



}
























